@{
    ViewBag.Title = "Mini IRC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    <script src="~/Scripts/jquery.signalR-2.0.2.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/index.js" type="text/javascript"></script>
}

<h2>Mini IRC</h2>

<div id="chatDiv" style="overflow: auto; border: 1px gray solid; height: 190px; width:100%;">
    <ul id="chatList" style="list-style-type: circle;">

    </ul>
</div>

<input type="text" id="msgBox" />
<input type="button" id="msgSubmit" value="submit" />
