<div class="row">
    <div class="col-md-7" ng-include="'app/gameboard/gameboardView'" ng-controller="gameboardController as vm"></div>
    <div class="col-md-5" ng-include="'app/chat/chatView'" ng-controller="chatController as vm"></div>
</div>