<div class="row">
    <div class="col-md-8" ng-include="'app/gameboard/gameboardView'" ng-controller="gameboardController"></div>
    <div class="col-md-4" ng-include="'app/chat/chatView'" ng-controller="chatController"></div>
</div>