<div class="panel panel-default">
    <div class="panel-heading">
        <h4>GameBoard View</h4>
    </div>
    <div class="panel-body game-container">
        <div class="col-xs-10" style="height:370px;">
            <drawing class="draw" />
        </div>
        <div class="col-xs-2">
            <div class="pull-right">
                <colorbuttons class="btn-group-vertical"
                              data-toggle="buttons"
                              model="vm.color"
                              options="vm.colors" />
            </div>
        </div>
    </div>
</div>