<h2>GameBoard View</h2>

<div class="canvas-container" ng-controller="gameboardController">
    <drawing />
    <span style="left:20px; bottom:25px; position:absolute;">X: {{position.left}}px</span>
    <span style="left:20px; bottom:10px; position:absolute;">Y: {{position.top}}px</span>
</div>
