<h2>GameBoard View</h2>

<div class="well-sm game-container">
    <div class="col-xs-10 canvas-container">
        <drawing class="draw" />
    </div>
    <div class="col-xs-2">
        <div class="pull-right">
            <colorbuttons class="btn-group-vertical"
                          data-toggle="buttons"
                          model="vm.color"
                          options="vm.colors" />
        </div>
    </div>
</div>