@{
    ViewBag.Title = "Home Page";
}

@section head
{
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/hammer")
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/index.js"></script>
}

<div class="row">
    <div class="row top-row">
        <div class="col-md-8">
            <div>
                <div>
                    <img src="~/content/images/frame-bg-1200.jpg" />
                </div>
                <div id="canvasDiv" class="canvas-container" style="position:absolute;">
                    <canvas id="canvas" style="position:relative;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <h4>Players</h4>
                <ul data-bind="foreach: players">
                    <li>
                        <span data-bind="text: Name"></span>
                        <img src="~/content/images/brush.png" alt="isDrawer" data-bind="visible: IsDrawer" />
                    </li>
                </ul>
            </div>

            <div class="col-md-12">
                <form data-bind="submit: joinGame, visible: isPlayerJoined">
                    <div class="col-sm-8">
                        <input id="playerName" type="text" data-bind="value: playerName" placeholder="Name" />
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" value="join" data-bind="click: joinGame, enable: isConnected" class="small button" />
                    </div>
                </form>

                <p data-bind="hidden: isPlayerJoined">Welcome <span data-bind="text: playerName"></span></p>

                <p data-bind="visible: match().length > 0">Your word is : <span data-bind="text: match"></span></p>
            </div>

            <div class="col-sm-12">
                <input type="button" value="start" data-bind="click: startGame, visible: isDrawer, enable: isReady" class="large button small-12 columns" />

                <input type="button" value="clear" data-bind="click: clearCanvas, visible: isDrawer, enable: isPlaying" class="small secondary small-12 button" />
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <div id="chatDiv" style="overflow: auto; border: 1px gray solid; height:190px;">
                <ul data-bind="foreach: chats" style="list-style-type: circle;">
                    <li>
                        <span data-bind="text: PlayerName"></span>:
                        <span data-bind="text: Message"></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12"><span>&nbsp;</span></div>
        <form data-bind="submit: submitChat, enable: player() != null">
            <div class="col-sm-4">
                <input type="text" id="chatBox" data-bind="value: chat" />
            </div>

            <div class="col-sm-8">
                <input type="submit" value="enter" data-bind="enable: player() != null" class="small button" />
                <input type="button" value="guess" data-bind="click: guessValue, enable: isPlaying" class="small button" />
            </div>
        </form>
    </div>
</div>