@{
    ViewBag.Title = "Paint With Friends";
}

@section head
{
    <script src="~/Scripts/jquery.signalR-2.0.1.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/index.js" type="text/javascript"></script>
}

<div style="padding:10px;">
    <div id="canvasDiv">
        <canvas id="canvas" width="500" height="500" style="border:solid 1px black;"></canvas>
    </div>
</div>
<h3>Appharbor was here</h3>
<input type="button" value="clear" id="clearButton" />

<input type="text" id="playerText" />
<input type="button" value="join" id="joinButton" disabled="disabled" />
<input type="button" value="start" id="startButton" disabled="disabled" />
<p id="userText"></p>
<input type="text" id="guessText" />
<input type="button" value="guess" id="guessButton" />
