@{
    ViewBag.Title = "Paint With Friends";
}

@section head
{
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    <script src="~/Scripts/jquery.signalR-2.0.1.js" type="text/javascript"></script>
    <script src="~/Scripts/knockout-3.0.0.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>
    @*<script src="~/scripts/foundation.min.js"></script>*@
    <script src="~/Scripts/index.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.hammer.js" type="text/javascript"></script>

}

<div class="container">

    <div class="row top-row">
        <div class="small-8 columns">
            <div class="canvas-container">
                <div class="border-image">
                    <img src="~/content/images/frame-bg-1200.jpg" />
                </div>
                <div id="canvasDiv">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
        <div class="small-4 columns">
            <h4>Players</h4>
            <ul data-bind="foreach: players">
                <li>
                    <span data-bind="text: Name"></span>
                    <img src="" alt="isDrawer" data-bind="visible: IsDrawer" />
                </li>
            </ul>
        </div>
    </div>

    <div class="row container-bottom">
        <div class="progress small-8 large-8  radius round">
            <span class="meter" style="width: 100%"></span>
        </div>
        <div class="join-container">
            <form data-bind="submit: joinGame">
                <div class="small-4 columns">
                    <input type="text" data-bind="value: playerName" placeholder="Name" />
                </div>

                <div class="small-8 columns">
                    <input type="submit" data-bind="enable: isConnected" value="join" class="small button" />
                    <input type="button" data-bind="click: clearCanvas, enable: isPlaying" value="clear" class="small secondary button" />
                </div>
            </form>
        </div>

        <p class="playerName">Welcome <span data-bind="text: playerName"></span></p>

        <h2><span data-bind="text: guess"></span></h2>

        <form data-bind="submit: guessValue">
            <div class="small-4 columns">
                <input type="text" data-bind="value: guess" placeholder="It's a..." />
            </div>

            <div class="small-8 columns">
                <input type="submit" data-bind="enable: isPlaying" value="guess" class="small button" />
            </div>
        </form>

        <input type="button" data-bind="click: startGame, enable: isReady" value="start" class="small button" />

    </div>

</div>


@*
<input type="button" value="clear" id="clearButton" />

<input type="text" id="playerText" />
<input type="button" value="join" id="joinButton" disabled="disabled" />

<p id="userText"></p>*@
